{% extends "layout.html.twig" %}

{% block title%}CR Gourmet Coffee{% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/product.css')}}" />{% endblock %}
{% block body %}
<main>
		<section id='mainBanner'>
			<div id='banner' style='background-image: url( {{ template.getBannerImage() }} )'>
			</div>
		</section>
		<div class='clearfix'></div>
		<center><h2>Featured Products</h2></center>
		<section id='productsShowcase'>
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				{% for product in products %}
				<div class="productThumbnails col-xs-6 col-md-6 col-lg-4">
					<div class='prodThumbInside'>
						<div class="productThumbnailsHeadings">
							<h4>{{ product.getName() }}</h4>
						</div> 
						<a href="{{ path('product_information', {'product': product.getFarm().getId()~ product.getId() }) }}">
						<img src=" {{ product.getImage() }}">
					</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
		<div class='clearfix'></div>
		<section id='siteInfoSection' class='container-fluid'>
			<div class="row">
				<div id='siteInfo' class="col-xs-12 col-md-8" style='background-image: url({{ template.getFarm().getImage()  }} )'></div>
				<div id='siteInfoText' class="col-xs-12 col-md-4">
					<h3>
                        {{ template.getDescriptionTitle() }}
					</h3>	
					<h4>
                        {{ template.getDescriptionInfo() }}
                    </h4>
				</div>
			</div>
		</section>
	</main>
{% endblock %}