{% extends "layout.html.twig" %}

{% block title%} Product Information {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/web/public/css/product_information.css') }}" />
{% endblock %}
{% block body %}
<main>
		<section>
			<center>
				<h2>
					{{ template.getPageTitle() }}		
				</h2>
			</center>
			<div id='carouselHeading' class='col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6'>
				<center>
					<h3>
						{{ product.getName() }}
					</h3>
				</center>
			</div>
			<div id='prodInfoSection' class='col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6'>
				<div id='prodInfoCarouselContainer' class="container col-xs-12">
	                <div id="myCarousel" class="carousel slide" data-interval="false">
		                <div class="carousel-inner" role="listbox">
			                <div class="item active">
			                	<div class="row-fluid">
									<div class="carouselCards col-xs-12 col-md-offset-2 col-md-8">
										<div class="productThumbnails">
											<div class='prodThumbInside'>
												<img class='prodThumbImgs' src="{{ product.getImage() }} ">
												<div class='row'>
													<div class='col-xs-12'>
														<p class='price'>$ {{ presentation.getPrice() }}</p>
													</div>
												</div>
												<div class='row'>
													<a data-product-id="{{product.getId() }}" class='orderPresentation prodInfoIconHeadOrder col-xs-offset-4 col-xs-4'>
														<img src="/web/public/imgs/icon5.svg">
														<h4>{{ template.getOrderTitle() }}</h4>
													</a>
												</div>
												<div class='row'>
													<div class='col-xs-12 col-md-6'>
														<div class="rating">
														<div class="rating">
															{% set rank= 0 %}
															{% for inx in 1..product.getRank() %}
															 	{% set rank = rank+1 %}
															 	<span>&#x2605;</span>
															{% endfor %}
															{% if rank < 5 %}
																{% for inx2 in rank..4 %}
																 	{% set rank = rank+1 %}
																 	<span>&#x2606;</span>
																{% endfor %}
															{% endif %}
														</div>
														</div>
													</div>
													<div class='col-xs-12 col-md-6'>
														<a href="#">{{ product.getReviews() }} {{ template.getReviewsTitle() }}</a>
													</div>	
												</div>													
											</div>
										</div>
									</div>
			                	</div>
			                </div>
		                </div>
		                <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
		                <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
	                </div>
				</div>
			</div>
		</section>
		<div class='clearfix'></div>
		<section>
			<div class='prodInfoPreferences row col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6'>
				<div class='row'>
					<div class='col-xs-12 col-md-6'>
						<div id='informationSection'>
							<center>
								<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
									<img src="/web/public/imgs/icon2.svg">
									<h4>{{ template.getInformationTitle() }}</h4>
								</div>
							</center>
							<div id='prodInfoDetails' class='col-xs-12'>
								<p>
									<span>{{ template.getFarmTitle() }}: </span>
										<a class='btn btn-xs' href="{{ path('farm_information',{'farm_id': product.getFarm().getId() })}}">
											{{ product.getFarm().getName() }}
										</a></br>
									<span>{{ template.getSpeciesTitle() }}: </span>{{ template.getSpeciesInfo() }}</br>
									<span>{{ template.getCultivarTitle() }}: </span>{{ product.getCultivar().getDescription() }}</br>
									<span>{{ template.getGradeTitle() }}: </span>{{ product.getGrade().getDescription() }}</br>
									<span>{{ template.getProcessingTitle() }}: </span>{{ product.getProcessing().getDescription() }}</br>
									<span>{{ template.getFlavorNotesTitle() }}: </span>{{ product.getFlavor().getNotes() }}</br>
								</p>
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-md-6'>
						<div id='roastSection'>
							<center>
								<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
									<img src="/web/public/imgs/icon7.svg">
									<h4>{{ template.getRoastTitle() }}</h4>
								</div>
							</center>
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								{% set roasts = [] %}					
								{% for presentation in product.getPresentations() %}
   									{% if presentation.getRoast().getDescription() not in roasts %}
										{% set roasts = roasts|merge([presentation.getRoast().getDescription()]) %}
									{% endif %}
								{% endfor %}		
								{% for roast in roasts %}		
									<div class="btn-group" role="group">		
										{% if roast == presentation.getRoast().getDescription %}
											<button type="button" class="btn btn-default active">{{ roast }}</button>
										{% else %}
											<button type="button" class="btn btn-default">{{ roast }}</button>
										{% endif %}							
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-12 col-md-6'>
						<div id='weightSection'>
							<center>
								<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
									<img src="/web/public/imgs/icon10.svg">
									<h4>{{ template.getWeightTitle() }}</h4>
								</div>
							</center>
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								{% set weights = [] %}					
								{% for presentation in product.getPresentations() %}
   									{% if presentation.getWeight() not in weights %}
										{% set weights = weights|merge([presentation.getWeight()]) %}
									{% endif %}
								{% endfor %}		
								{% for weight in weights %}		
									<div class="btn-group" role="group">		
										{% if weight == presentation.getWeight() %}
											<button type="button" class="btn btn-default active">{{ weight }}</button>
										{% else %}
											<button type="button" class="btn btn-default">{{ weight }}</button>
										{% endif %}							
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-md-6'>
						<div id='grindSection'>
							<center>
								<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
									<img src="/web/public/imgs/icon8.svg">
									<h4>{{ template.getGrindTitle() }}</h4>
								</div>
							</center>
							<div class="btn-group btn-group-justified" role="group" aria-label="...">
								{% set grinds = [] %}					
								{% for presentation in product.getPresentations() %}
   									{% if presentation.getGrind().getDescription() not in grinds %}
										{% set grinds = grinds|merge([presentation.getGrind().getDescription]) %}
									{% endif %}
								{% endfor %}		
								{% for grind in grinds %}		
									<div class="btn-group" role="group">		
										{% if grind == presentation.getGrind().getDescription() %}
											<button type="button" class="btn btn-default active">{{ grind }}</button>
										{% else %}
											<button type="button" class="btn btn-default">{{ grind }}</button>
										{% endif %}							
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-12 col-md-offset-3 col-md-6'>
						<div id='cupSection'>
							<center>
								<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
									<img src="/web/public/imgs/icon9.svg">
									<h4>{{ template.getCupScoringTitle() }}</h4>
								</div>
							</center>
							<div id='cupMap' class='col-xs-12'>
								<center><img src="/web/public/imgs/cupScoring.png"></center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('/web/public/js/product_information.js')}}"></script>
{% endblock %}