{% extends "layout.html.twig" %}

{% block title%} Shopping Cup {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/web/public/css/shoppingCart.css') }}" />
{% endblock %}

{% block body %}
<main>
	<section>
		<center>
			<h2>
				Shopping Cup		
			</h2>
		</center>
		<div  class='col-md-offset-1 col-md-10'>
			<center>
				<h3>
					Your products
				</h3>
			</center>
			{% if app.session.get("productsOnCart")|length > 0 %}
			<div class="table-responsive">
	            <table class="table">
	                <thead class="thead-inverse">
	                    <tr>
	                        <th>Product</th>
	                        <th>Farm</th>
	                        <th>Description</th>
	                        <th>Unit price</th>
	                        <th>Quantity</th>
	                        <th>Subtotal</th>
	                        <th>Action</th>
	                    </tr>
	                </thead>
	                <tbody>
					{% for presentation in productsOnCart %}
	                    <tr>
	                         <td>
	                         	<img src="{{ presentation.getProduct().getImage() }}"></img>
	                         </td>
	                         <td>{{ presentation.getProduct().getFarm().getName() }}</td>
	                         <td>{{ presentation.getProduct().getName() }}</td>
	                         <td>{{ presentation.getPrice() }}</td>
	                         {% set quantity = 1 %}
	                         <td>{{ quantity }}</td>
	                         <td>{{ presentation.getPrice() * quantity }}</td>
	                         <td> 
	                    		<button class="btn btn-danger" data-presentation-id="{{ presentation.getId() }}">Remove</button>
	                         </td>
	                    </tr>
						{% endfor %}	                 
	                    <tr>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td>Total</td>
	                        <td></td>
	                        <td></td>
	                    </tr>
	                </tbody>
	            </table>
       		</div>
			<a class='btn btn-success'  href="{{ path('page_homepage', {'name': 'home'}) }}">
				Continue Shopping
			</a> 
	        <a class='btn btn-success pull-right' href="{{ path('page_homepage', {'name': 'shoppingCart'}) }}">
	        	Check Out
	        </a> 
       		{% else %}
			<center>
				<h3>
					You have no products on your shopping cup
				</h3>
				<a class='btn btn-success'  href="{{ path('page_homepage', {'name': 'home'}) }}">
					Continue Shopping
				</a> 
			</center>
       		{% endif %}
		</div> 
	</section>
</main>
{% endblock %}