{% extends "layout.html.twig" %}

{% block title%} Shopping Cup {% endblock %}


{% block body %}
<main>
	<section>
		<center>
			<h2>
				{{ template.getPageTitle() }}		
			</h2>
		</center>
		<div  class='col-md-offset-1 col-md-10'>
			<center>
				<h3>
				{{ template.getCartTitle() }}	
				</h3>
			</center>
			{% if app.session.get("productsOnCart")|length > 0 %}
			<div class="table-responsive">
	            <table id="shoppingCart" class="table">
	                <thead class="thead-inverse">
	                    <tr>
	                        <th>{{ template.getProductTitle() }}</th>
	                        <th>{{ template.getFarmTitle() }}</th>
	                        <th>{{ template.getDescriptionTitle() }}</th>
	                        <th>{{ template.getUnitPriceTitle() }}</th>
	                        <th>{{ template.getQuantityTitle() }}</th>
	                        <th>{{ template.getSubTotalTitle() }}</th>
	                        <th>{{ template.getActionTitle() }}</th>
	                    </tr>
	                </thead>
	                <tbody>
					{% for product in productsOnCart %}
	                    <tr data-item-id="{{ product['presentation'].getId() }}">
	                        <td>
	                        	<center>
	                         		{{ product['presentation'].getProduct().getName() }}</br>
	                         		<img src="{{ product['presentation'].getProduct().getImage() }}"></img>
	                         	</center>
	                        </td>
	                        <td>{{ product['presentation'].getProduct().getFarm().getName() }}</td>
	                        <td>
	                         	<strong>{{ template.getWeightTitle() }}: </strong>{{ product['presentation'].getWeight }}g </br>
		                        <strong>{{ template.getRoastTitle() }}: </strong>{{ product['presentation'].getRoast().getDescription() }}</br>
		                        <strong>{{ template.getGrindTitle() }}: </strong>{{ product['presentation'].getGrind().getDescription() }}</br>
		                    </td>
	                        <td class="unit-price">US$ 
	                        	<span class="price">{{ product['presentation'].getPrice() }}</span>
	                        </td>
	                        <td data-test="td">
	                        	<input type="number" class="presentation-quantity" value="{{ product['quantity'] }}" min="1"> 
	                        </td>
	                        <td>
	                        	<p> US$ <span class="presentation-total"></span></p>
	                        </td>
	                        <td> 
	                    		<button class="remove-item btn btn-danger">{{ template.getRemoveButton() }}</button>
	                        </td>
	                    </tr>
						{% endfor %}	                 
	                    <tr>
	                        <td colspan="4">{{ template.getShippingTitle() }}</td>   
	                        <td>Total</td>
	                        <td>
	                        	<p>US$ <span id="cart-total"></span></p>
	                        </td>
	                        <td></td>
	                    </tr>
	                </tbody>
	            </table>
       		</div>
			<button class='continue-shopping btn btn-success'>
				{{ template.getContinueButton() }}
			</button> 
	        <button class='check-out btn btn-success pull-right'>
	        	{{ template.getCheckOutButton() }}
	        </button>
       		{% else %}
			<center>
				<h3>
					{{ template.getEmptyCartTitle() }}
				</h3>
				<button class='continue-shopping btn btn-success'>
					{{ template.getContinueButton() }}
				</button> 
			</center>
       		{% endif %}
		</div> 
	</section>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/web/public/js/shopping_cart.js') }}" type="text/javascript"></script> 
{% endblock %}