<div class='clearfix'></div>
<footer class='footer'>
    <nav>
        <div class="container-fluid">
            <div class="navbar navbar-inverse"> <!-- /* NUEVO (v3) (03-05-17)*/ -->
                <ul id='quickLinks' class="nav navbar-nav">
                    <li><a href="{{ path('page_homepage', {'name': 'onDevelopment'}) }}">About</a></li>
                    <li><a href="{{ path('page_homepage', {'name': 'onDevelopment'}) }}">Contact</a></li>
                    <li><a href="{{ path('page_homepage', {'name': 'onDevelopment'}) }}">Terms of Use</a></li>
                    <li><a href="{{ path('page_homepage', {'name': 'onDevelopment'}) }}">Privacy</a></li>
                    <li><a href="{{ path('page_homepage', {'name': 'onDevelopment'}) }}">Help</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id='facebook' class='socialIcon' href="https://www.facebook.com/profile.php?id=100012619925730&fref=ts"></a>
                    </li>
                    <li>
                        <a id='twitter' class='socialIcon' href="https://www.twitter.com"></a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>
    <div id='credits' class='container'>
        <center>Copyright &#169; Universidad Nacional de Costa Rica, 2017</center>
    </div>
</footer>