<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                CRgourmetcoffee
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/web/public/css/bootstrap.css')}}" />
            <link rel="stylesheet" href="{{ asset('/web/public/css/crgourmetcoffee.css')}}" />
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% include "header.html.twig"%}
        </div>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <div id="footer">
            {% include "footer.html.twig"%}
        </div>
        {% block javascripts %}
            <script src= "{{ asset('/web/public/js/jquery-3.1.0.min.js') }}"></script>
            <script src= "{{ asset('/web/public/js/bootstrap.js') }}"> </script>
            <script src= "{{ asset('/web/public/js/crgourmetcoffee.js') }}"> </script>
       {% endblock %}
    </body>
</html>