{% extends "layout.html.twig" %}

{% block title%} Farm Information {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/farm_information.css') }}" />
{% endblock %}

{% block body %}
<main>
	<div class='pageTitle'>
		<center>
			<h2>{{ template.getPageTitle() }}</h2>
		</center>
	</div>
	<section id='farmInfoSection'>
		<div class='container-fluid'>
			<div id='farmInfoContainer' class='row'>
				<div id='farmInfoHeading' class='col-xs-12'>
					<center>
						<h3>{{ farm.getName() }}</h3>
					</center>
				</div>
				<div id="farmPicContainer" class='col-xs-12 col-sm-4'>
						<div class='farmInfoIcons'>
							<img src="{{asset('imgs/icon12.svg') }}">
						</div>
						<h4>Image</h4>
					<img src="{{ farm.getImage() }}" id="farmPic">
					<div class='farmInfoCards'>
						<div class='farmInfoIcons'>
							<img src="{{asset('imgs/icon1.svg') }}">
						</div>
						<h4>{{ template.getDescriptionTitle() }}</h4>
						<div class='col-xs-12'>
							{{ farm.getDescription() }}
						</div>
						<div class="prodInfoIconHeadings">
							<center>
								<button type="button" class="btn btn-info">
									<span class="glyphicon glyphicon-search" ></span>
									{{ template.getStoryBtnTitle() }}
								</button>
							</center>
						</div>
					</div>
				</div>
				<div id='farmInfoDetailsContainer' class='col-xs-12 col-sm-4'>
					<div class='farmInfoCards'>
						<div class='farmInfoIcons'>
							<img src="{{asset('imgs/icon2.svg') }}">
						</div>
						<h4>{{ template.getInformationTitle() }}</h4>
						<div class='col-xs-12' style="text-align:center;">
							<span>{{ template.getRegionTitle() }}: </span>{{ farm.getRegion().getName() }}<br>
							<span>{{ template.getElevationTitle() }}: </span>{{ farm.getElevation() }}m.a.s.l.<br>
							<span>{{ template.getHarvestTitle() }}: </span>{{ farm.getHarvest() }}
							<span>{{ template.getSpeciesTitle() }}: </span>{{ template.getSpeciesInfo() }}<br>
							<span>{{ template.getCultivarTitle() }}: </span>
							{% for cultivar in farm.getCultivars() %}
								{% if loop.first %}
									{{ cultivar.getDescription() }}
								{% else %}
									, {{ cultivar.getDescription() }}
								{% endif %}
							{% endfor %}
							<br>
							<span>{{ template.getCertificationsTitle() }}: </span>
							{% for certification in farm.getCertifications() %}
								{% if loop.first %}
									{{ certification.getDescription() }}
								{% else %}
									, {{ certification.getDescription() }}
								{% endif %}
							{% endfor %}
							<br>
						</div>
					</div>
					<div class='farmInfoCards col-xs-12'>
						<div class='farmInfoIcons'>
							<img src="{{asset('imgs/icon3.svg') }}">
						</div>
						<h4>{{ template.getAwardsTitle() }}</h4>
						<div style="text-align:center;">
							{% for award in farm.getFarmAwards() %}
								<span>
									{{award.getAward().getDescription()}}, {{award.getPlace()}} place, {{award.getYear()}}
								</span></br>
							{% endfor %}
						</div>
					</div>
					<div class='farmInfoCards col-xs-12'>
						<div class='farmInfoIcons'>
							<img src="{{asset('imgs/icon4.svg') }}">
						</div>
						<h4>{{ template.getLocationTitle() }}</h4>
						<div id="farm_map"></div>
					</div>
				</div>		
				{% if farm.getProducts()|length > 0 %}
				<div class='col-xs-12 col-sm-4'>
					<div class='farmInfoIcons'>
						<img src="{{asset('imgs/icon_presentation.png') }}">
					</div>
					<div id='carouselHeading'>
						<center>
							<h4>{{ template.getProductsTitle() }}</h4>
						</center>
					</div>
					<div class='clearfix'></div>
						<div class="container col-xs-10 col-xs-offset-1">
							<div class="row">
								<div class="span12">
						    	    <div class="well"> 
						                <div id="myCarousel" class="carousel slide" data-interval="false">
							                <div class="carousel-inner">
				                   				{% for product in farm.getProducts() %}	
				                   				<div	
								                	{% if loop.first %}
								                		 class="item active"
								                	{% else %}
								                	 	class="item"
								                	{% endif %}
								                	>
								                	<div class="row-fluid">
														<div class="carouselCards">
															<div class="productThumbnails">
																<div class="prodThumbInside">
																	<div class="productThumbnailsHeadings">
																		<h4>{{ product.getName() }}</h4>
																	</div>
																	<a href="{{ path('product_information', {'farm': product.getFarm().getId(),'product': product.getId(),'presentation':product.getPresentations()|first.getId()  }) }}">
																		<img src="{{product.getImage()}}"/>
																	</a>
																	<p class="price">$50</p>
																	<a href="/product/1/5/49"><p>More info/options</p></a> 
																	<div class='productDetailsContainer row'>
																		<div class='productDetails col-xs-4 col-xs-offset-1'>
																		    <p>Weight:</p>
																		</div>
																		<div class='productDetails col-xs-7'>
																		    <p>300g/12oz</p>
																		</div>
																	</div>
																	<div class='productDetailsContainer row'>
																		<div class='productDetails col-xs-4 col-xs-offset-1'>
																		    <p>Grind:</p>
																	    </div>
																		<div class='productDetails col-xs-7'>
																			<p>Whole Bean</p>
																		</div>
																	</div>
																	<div class='productDetailsContainer row'>
																		<div class='productDetails col-xs-4 col-xs-offset-1'>
																		    <p>Roast:</p>
																		</div>
																		<div class='productDetails col-xs-7'>
																        	<p>Light</p>
																		</div>
																	</div>
																	<div class='productDetailsContainer row'>
																		<div class='productDetails col-xs-4 col-xs-offset-1'>
																		    <p>Rating:</p>
																		</div>
																		<div class='productDetails col-xs-7'>
																            <p class="rating">4/5<span>&#x2605;</span> <a>Reviews</a></p>
																            
																		</div>
																	</div>
																</div>
															</div>
														</div>
								                	</div>
							                	</div>
							                	{% endfor %}
						                </div>
						            </div>
							                	{% if farm.getProducts()|length > 1 %}
                                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
                                                    <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
							                	{% endif %}
								</div>
							</div>
							<div class="prodInfoIconHeadings">
								<center>
									<button id='contactButton' type="button" class="btn btn-info">
										<span class="glyphicon glyphicon-envelope"></span>
										{{ template.getContactBtnTitle() }}
									</button>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</section>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8iOI-wKQIfkncEFwGUHS3dsce-nlwsQ0" type="text/javascript"></script>
	<script>
		var lat = {{ farm.getLatitude() }}
		var lon = {{ farm.getLongitude() }}
	</script>	
	<script src="{{ asset('js/farm_information.js')}}"></script>
{% endblock %}