{% extends "layout.html.twig" %}

{% block title%} Sign In {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css')}}" />
{% endblock %}

{% block body %}
<main>
  <div id="login-modal" >
    <div class="modal-dialog">
        <div class="loginmodal-container">
          <form action= "{{ path('user_signin') }}" method="post" id="signin" class="form-signin">
            <h1>Sign in</h1>
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="example@domin.com" required autofocus/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" placeholder="**********" required>
            {% if error %}
              <div class="text-danger">
                <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
              </div>
            {% endif %}
            <input type="submit" name="signin" class="login loginmodal-submit" value="Access your account">
            <input type="button" name="signup" class="login loginmodal-submit" value="Create a new account">
          </form>
        </div>
    </div>
  </div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/login.js') }}" type="text/javascript"></script> 
{% endblock %}