{% extends "layout.html.twig" %}

{% block title%} Region Information {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/region_information.css') }}" />
{% endblock %}

{% block body %}
<main>

	<div class='pageTitle'>
		<center>
			<h2>Region Information</h2>
		</center>
	</div>
		<section id='regionInfoSection'>
			<div class='container-fluid'>
				<div id='regionInfoContainer' class='row'>
					<div id='regionInfoHeading' class='col-xs-12'>
						<center><h3>{{ region.getName }}</h3></center>
					</div>
					<div id="regionPicContainer" class='regionInfoCards col-xs-12 col-sm-4'>
						<div class='regionInfoIcons'>
							<img src="{{ asset('imgs/icon12.svg') }}">
						</div>
						<h4>Images</h4>
						<div class="container col-xs-12">
							<div class="row">
						    	    <div class="well"> 
						                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
							                <div class="carousel-inner">
								                <div class="item active">
									                <center><img class='regionPics' src="{{ region.getImage1 }}"></center>
								                	<div class="carousel-caption">
														<h3>{{ region.getImageDescription1 }}</h3>
													</div>
							                	</div>
							                	<div class="item">
								                	<center><img class='regionPics' src="{{ region.getImage2}}"></center>
								                	<div class="carousel-caption">
														<h3>{{ region.getImageDescription2 }}</h3>
													</div>
							                	</div>
							                	<div class="item">
								                	<center><img class='regionPics' src="{{ region.getImage3}}"></center>
								                	<div class="carousel-caption">
														<h3>{{ region.getImageDescription3 }}</h3>
													</div>
							                	</div>
							                </div>
						                </div>
						            </div>
							</div>
						</div>
					</div>
					<div class='regionInfoCards col-xs-12 col-sm-4'>
						<div class='regionInfoIcons'>
							<img src="{{ asset('imgs/icon1.svg') }}">
						</div>
						<h4>Description</h4>
						<div>
							<p class="regionText">{{ region.getDescription }}</p>
							<p class="regionText" style="font-style: italic;">
								<span style="font-style: bond">Source:</span> Instituto del Café de Costa Rica (ICAFE)
							</p>
						</div>
						<div class='regionInfoIcons'>
							<img src="{{ asset('imgs/icon_organoleptic.png') }}">
						</div>
						<h4>Organoleptic characteristics</h4>
						<div>
							<p class="regionText">{{ region.getOrganolepticCharacteristics() }}</p>
							<p class="regionText" style="font-style: italic;">
								<span style="font-style: bond">Source:</span> Instituto del Café de Costa Rica (ICAFE)
							</p>
						</div>
					</div>
					<div id='regionInfoDetailsContainer' class='regionInfoCards col-xs-12 col-sm-4'>
						<div class='regionInfoIcons'>
							<img src="{{ asset('imgs/icon2.svg') }}">
						</div>
						<h4>Information</h4>
						<div>
							<p class="regionText">
								{{ region.getInformation }}
							</p>
							<p class="regionText" style="font-style: italic;">
								<span style="font-style: bond">Source:</span> Instituto del Café de Costa Rica (ICAFE)
							</p>
						</div>
					</div>
					<div class='regionInfoCards col-xs-12'>
						<div class='regionInfoIcons'>
							<img src="{{ asset('imgs/icon4.svg') }}">
						</div>
						<h4>Location</h4>
						<div id="region_map">Mapa</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8iOI-wKQIfkncEFwGUHS3dsce-nlwsQ0" type="text/javascript"></script>
		<script>
		    var myCenter = new google.maps.LatLng(9.856626, -83.864775);
		  	var mapCanvas = document.getElementById("region_map");
		  	var mapOptions = {center: myCenter, zoom: 9};
		  	var map = new google.maps.Map(mapCanvas, mapOptions);
		  	{% if farms is defined %}
    			{% for farm in farms %}
    				var marker{{ loop.index}} = new google.maps.Marker({title:'{{farm.getName}}',position:new google.maps.LatLng( {{ farm.getLatitude}},{{ farm.getLongitude}})});
    				marker{{ loop.index}}.setMap(map);
    				google.maps.event.addListener(marker{{ loop.index}},'click',function() {
    				    location.href = "{{ path('farm_information',{'farm_id': farm.getId()} ) }}";
    				});
    				
    			{% endfor %}
		  	{% endif %}
		</script>	
		
{% endblock %}