{% extends "layout.html.twig" %}
{% block title%}
	Product Information
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/product_information.css') }}" />
{% endblock %}
{% block body %}
	<section>
		<div class='pageTitle'>
			<center>
				<h2>{{ template.getPageTitle() }}</h2>
			</center>
		</div>
		<section>
			<div id='prodInfoWidth'>
				<div id='prodInfoSection' class='col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6'>
					<div class="carousel-inner" role="listbox">
						<div class= "item active" id="product" data-product-id="{{product.getId()}}">
							<div id='carouselHeading' >
								<center>
									<h3>
										<span id="productName">
											{{ product.getName() }}
										</span>
									</h3>
								</center>
							</div>
							<div class="row-fluid">
								<div class="carouselCards col-xs-12 col-md-offset-2 col-md-8">
									<div class="productThumbnails">
										<div class='prodThumbInside'>
											<img class='prodThumbImgs' src="{{ product.getImage() }} ">										
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% if farm.getProducts|length >1 %}
						<a class="left carousel-control" href=""></a>
						<a class="right carousel-control" href=""></a>
					{% endif %}
				</div>
				<div id='prodInfoCarouselContainer2' class='col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6' data-spy="affix" data-offset-top="480">
					<div class="container col-xs-12">
						<div>
							<p class='prodInfoIconHeadOrder col-xs-offset-4 col-xs-4'>
								<center>
									<p class='price'>
										${{ presentation.getPrice() }}
									</p>
								</center>
							</p>
						</div>
						<div class='stickyRow row'>
							<div class='ratingCont col-xs-4'>
								<div class="rating">
									{{ product.getRank() }}/5<span>&#x2605;</span>
								</div>
							</div>
							<a class='stickyRow orderPresentation col-xs-4'>
								<img src="{{ asset('imgs/icon5.svg') }}">
							</a>
							<div class='reviews col-xs-4'>
								<a href="#product_Reviews">
									{{product.getReviews()|length}} {{ template.getReviewsTitle() }}
								</a>
							</div>
						</div>
						<div class='order row'>
							<div class='col-xs-offset-4 col-xs-4'>
								<a id="product" data-product-id="{{product.getId() }}" class='orderPresentation prodInfoIconHeadOrder'>
									<h4>{{ template.getOrderTitle() }}</h4>
								</a>
							</div>
						</div>
						<div class='row'>
							<center>
								<a class="btn btn-default btn-xs share" href="{{ path('page_homepage',{'name':'onDevelopment'}) }}"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>Share</a>
							</center>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class='clearfix'></div>
		<section>
			<div id='prodInfoWidth' class="container">
				<div class='prodInfoPreferences row col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6'>
					<div class='row'>
						<div class='col-xs-12 col-md-6'>
							<div id='informationSection'>
								<center>
									<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
										<img src="{{ asset('imgs/icon2.svg') }}">
										<h4>{{ template.getInformationTitle() }}</h4>
									</div>
								</center>
								<div id='prodInfoDetails' class='col-xs-12'>
									<p>
										<span>{{ template.getFarmTitle() }}: </span>
										<a href="{{path('farm_information',{'farm_id':product.getFarm().getId() })}}">
										{{ product.getFarm().getName() }}
										</a>
									</p>
									<p>
										<span>{{ template.getSpeciesTitle() }}: </span>
										<span>{{ template.getSpeciesInfo() }}</span>
									</p>
									<p>
										<span>{{ template.getCultivarTitle() }}: </span>
										<span>{{ product.getCultivar().getDescription() }}</span>
									</p>
									<p>
										<span>{{ template.getGradeTitle() }}: </span>
										<span>{{ product.getGrade().getDescription() }}</span>
									</p>
									<p>
										<span>{{ template.getProcessingTitle() }}: </span>
										<span>{{ product.getProcessing().getDescription() }}</span>
									</p>
									<p>
										<span>{{ template.getFlavorNotesTitle() }}: </span>
										<span>{{ product.getFlavor().getNotes() }} </span>
									</p>
								</div>
							</div>
						</div>
						<div class='col-xs-12 col-md-6'>
							<div id='roastSection'>
								<center>
									<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
										<img src="{{ asset('imgs/icon7.svg') }}">
										<h4>{{ template.getRoastTitle() }}</h4>
									</div>
								</center>
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									{% set roasts = [] %}					
									{% for presentation in product.getPresentations() %}
										{% if presentation.getRoast().getDescription() not in roasts %}
											{% set roasts = roasts|merge([presentation.getRoast().getDescription()]) %}
										{% endif %}
									{% endfor %}		
									{% for roast in roasts %}		
										<div class="btn-group" role="group">		
											{% if roast == presentation.getRoast().getDescription %}
												<button type="button" class="btn btn-default active">{{ roast }}</button>
											{% else %}
												<button type="button" class="btn btn-default">{{ roast }}</button>
											{% endif %}							
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-xs-12 col-md-6'>
							<div id='weightSection'>
								<center>
									<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
										<img src="{{ asset('imgs/icon10.svg') }}">
										<h4>{{ template.getWeightTitle() }}</h4>
									</div>
								</center>
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									{% set weights = [] %}					
									{% for presentation in product.getPresentations() %}
										{% if presentation.getWeight() not in weights %}
											{% set weights = weights|merge([presentation.getWeight()]) %}
										{% endif %}
									{% endfor %}		
									{% for weight in weights %}		
										<div class="btn-group" role="group">		
											{% if weight == presentation.getWeight() %}
												<button type="button" class="btn btn-default active">{{ weight }}</button>
											{% else %}
												<button type="button" class="btn btn-default">{{ weight }}</button>
											{% endif %}							
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class='col-xs-12 col-md-6'>
							<div id='grindSection'>
								<center>
									<div class='prodInfoIconHeadings col-xs-offset-3 col-xs-6'>
										<img src="{{ asset('imgs/icon8.svg') }}">
										<h4>{{ template.getGrindTitle() }}</h4>
									</div>
								</center>
								<div class="btn-group btn-group-justified" role="group" aria-label="...">
									{% set grinds = [] %}					
									{% for presentation in product.getPresentations() %}
										{% if presentation.getGrind().getDescription() not in grinds %}
											{% set grinds = grinds|merge([presentation.getGrind().getDescription]) %}
										{% endif %}
									{% endfor %}		
									{% for grind in grinds %}		
										<div class="btn-group" role="group">		
											{% if grind == presentation.getGrind().getDescription() %}
												<button type="button" class="btn btn-default active">{{ grind }}</button>
											{% else %}
												<button type="button" class="btn btn-default">{{ grind }}</button>
											{% endif %}							
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div id="product_Reviews"class='col-xs-12'>
							Reviews of the product:</br>
							{% for review in product.getReviews() %}
								{{review.getUser() }}: {{review.getComment()}}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		
		
	{% endblock %}